<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Difference Finder</title>
    <link rel="stylesheet" href="/stylesheet/home.css"/>
</head>
<body>
<h1>String Difference Finder</h1>
<label for="string1">First String:</label>
<textarea id="string1" placeholder="Enter first string">
    committer_list_per_month[date + '-' + log[i].author] = 1;
</textarea>
<br>
<label for="string2">Second String:</label>
<textarea id="string2" placeholder="Enter second string">
    var date_author = date + '-' + log[i].author;
</textarea>
<br>
<button onclick="findDifference()">Show Difference</button>
<div id="result" class="difference"></div>
<script src="/js/home.js"></script>
</body>
</html>
